@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.weam {
  color: #FF9800;
  font-family: 'Permanent Marker', cursive;
}

.App {
  /* background-image: url("../public/mainbg.png");
  background-size: cover;
  height: 100%; */
}